# React Native
node_modules/
android/
ios/
*.log
*.keystore
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.xcuserstate
*.xcworkspace
*.xcodeproj
*.idea/
*.gradle/
build/
.env
.env.*

# Expo
.expo/
.expo-shared/

# VSCode
.vscode/
.history/
.settings/
*.code-workspace
.env.local
